<h1>Liste meiner Übungen</h1>

<%= render partial:"partials/uebungsliste" %>

<%= alle_uebungen %> |
<%= link_to 'Neue Übung anlegen', new_uebung_path %> |
<%= link_to 'Einen Trainingsplan erstellen', uebungs_uebungen_path %> |
<%= link_to 'Eigene Daten verwalten' , user_data_path %> |
<%= link_to 'Ausloggen', destroy_user_session_path, method: :delete %>

<hr \>
<div>
	<form action="mailto:egoralexdubinker@googlemail.com">
		<h3>Feedback</h3>
		<br \>
		<textarea rows="10" cols="30" action="mailto:egoralexdubinker@googlemail.com"></textarea>
		<br \>
		<input type="submit" value="Kommentar absenden">
	</form>
</div>

