<p id="notice"><%= notice %></p>

<%= render 'partials/show_exercises' %>


<%= link_to 'Bearbeiten', edit_exercise_path(@exercise) %> |
<%= link_to 'Zurück', own_exercises_path %> |
<%= link_to 'Löschen', @exercise, method: :delete, data: { confirm: 'Are you sure?' } %>
