<h1>Liste der Übungen</h1>

<% i = 1 %>
<% while i < Uebung.count+1 %>
<%= check_box_tag(:uebung) %>
<%= label_tag(:uebung, Uebung.find(i).uebung) %>
<%= link_to 'zur Übung', uebungs_path%>
<% i += 1 %>
<br \>
<% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Trainingsart</th>
      <th>Anzahl Set</th>
      <th>Anzahl Wiederholung</th>
      <th>Beschreibung</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @uebungs.each do |uebung| %>
      <tr>
        <td><%= uebung.uebung %></td>
        <td><%= uebung.trainingsart %></td>
        <td><%= uebung.anzset %></td>
        <td><%= uebung.anzwdh %></td>
        <td><%= uebung.beschreibung %></td>
        <td><%= link_to 'Show', uebung %></td>
        <td><%= link_to 'Edit', edit_uebung_path(uebung) %></td>
        <td><%= link_to 'Destroy',uebung, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uebung', new_uebung_path %>
<%= link_to 'Ausloggen', destroy_user_session_path, method: :delete %>
<%#= label_tag(:uebung, Uebung.all.map(& :uebung).join) %><br \>