<p id="notice"><%= notice %></p>


<p>
  <strong>Vorname:</strong>
  <%= @user_datum.firstname %>
</p>


<p>
  <strong>Nachname:</strong>
  <%= @user_datum.lastname %>
</p>

<p>
  <strong>Geschlecht:</strong>
  <%= @user_datum.sex %>
</p>

<p>
  <strong>Körpergewicht:</strong>
  <%= @user_datum.weight %>
</p>

<p>
  <strong>Körpergröße:</strong>
  <%= @user_datum.bodysize %>
</p>

<p>
  <strong>Geburtsdatum:</strong>
  <%= @user_datum.birthday %>
</p>

<%= link_to 'Bearbeiten', edit_user_datum_path(@user_datum) %> |
<%= link_to 'Zurück', user_data_path %>
