<ul>
<%= form_for(:exercise) do |u|%>
	<% @exercises.each do |uebung| %>
		<%= u.check_box :auswehlen %>
		<%= u.label(:exercise, uebung.name) %>
		<%= link_to 'zur Übung', exercise %>
		<br \>
	<% end %>	
  	<div><%= u.submit 'Zum Trainingsplan hinzufügen' %></div>
<% end -%>
</ul>