<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Anzset:</strong>
  <%= @exercise.anzset %>
</p>

<p>
  <strong>Anzwdh:</strong>
  <%= @exercise.anzwdh %>
</p>
<p>
  <strong>Muskelgruppe:</strong>
  <%= @exercise.muskelgruppe %>
</p>
<p>
  <strong>Beschreibung:</strong>
  <%= @exercise.beschreibung %>
</p>
