<table align="center" border="1" cellspacing="2" cellpadding="2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Trainingsart</th>
      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @traininglists.each do |traininglist| %>
      <tr>
        <td><%= traininglist.name %></td>
        <td><%= traininglist.trainingsart %></td>
        
        <td><%= link_to 'Anzeigen', traininglist %></td>
        <td><%= link_to 'Bearbeiten', edit_traininglist_path(traininglist) %></td>
        <td><%= link_to 'Löschen',traininglist, method: :delete, data: { confirm: 'Bist du dir sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div><%= link_to 'Zurueck', own_exercises_path %></div>
