<table align="center" border="1" cellspacing="2" cellpadding="2" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Anzahl Set</th>
      <th>Anzahl Wiederholung</th>
      <th>Beschreibung</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.name %></td>
        <td><%= exercise.anzset %></td>
        <td><%= exercise.anzwdh %></td>
        <td><%= exercise.beschreibung %></td>
        <td><%= link_to 'Anzeigen', exercise %></td>
        <td><%= link_to 'Bearbeiten', edit_exercise_path(exercise) %></td> 
      
      </tr>
    <% end %>
  </tbody>
</table>